.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  transform: scale(0.9);
}

.navbar {
  display: flex;
  width: 70%;
  margin: auto;
}

.nav-list {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.nav-logo {
  color: white;
  width: 10rem;
  margin: 0;
}

* {
  overflow: hidden;
}

body {
  background-color: rgb(64 80 249);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.list-item {
  display: flex;
  font-size: 1em;
  margin: auto;
  margin-left: 2em;
  align-items: center;
  font-weight: 700;
}

.list-item:first-child {
  margin-left: 0;
}

ul.nav-list {
  padding-left: 0;
}

.download-btn {
  align-items: center;
  margin: 0;
  background: white;
  padding: 1em 2em;
  color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 50px;
}

.background-1 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.background-2 {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -8;
}

.background-3 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -9;
}

.background-4 {
  position: fixed;
  bottom: 0;
  left: 0;
}

.hamburger {
  display: none;
  color: white;
  margin-left: 1em;
}

@media (max-width: 1400px) {
  .background-4 {
    display: none;
  }

  .background-2 {
    height: 40vh;
  }

  .nav-list {
    color: transparent;
  }

  .download-btn {
    align-items: center;
  }

  .hamburger {
    display: initial;
  }
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 40%;
}

.header {
  margin-top: 2em;
  font-family: "Erica One", cursive;
  font-size: 6vh;
  font-weight: 400;
  line-height: 1em;
}

.subtext {
  font-weight: 100;
  font-size: 2vh;
  line-height: 1.5em;
}
